:root{
    --L-primary: #E84959;
    --L-background: #F7F7F8;
    --L-clothes-Background: #E6E6E6;
    --L-menu: #FFFFFF;
    --L-black: #262626;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-width: 800px;
    max-width: 1200px;
    margin: auto;
}

.hidden{
    display: none;
}

body{
    position: relative;
    background-color: var(--L-background);
    color: var(--L-black);
    fill: var(--L-black);
    transition: .4s;
}

body.dark{
    --L-primary: #9AD9D9;;
    --L-background: #1F1D2A;
    --L-clothes-Background: #131218;
    --L-menu: #1B1A23;
    --L-black: #fff;
    transition: .4s;
}

ul{
    list-style: none;
}

.Content_acad{
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

nav img{
    width: 50px;
    height: 50px;   
}

nav{
    position: fixed;
    top: 0;   
    width: 100%;
    height: 70px;
    background-color: transparent;
    min-width: 800px;
    /* max-width: 1200px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;

    z-index: 100;
}

nav ul{
    display: flex;
    gap: 1em;
    margin: auto;
}

nav ul{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4em 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1em;
    transition: margin-top 0.5s;
    background-color: var(--L-clothes-Background);

    margin-left: -100%;
}

nav ul a{
    text-decoration: none;
    color: var(--L-black);
    font-size: 2.5em;
}

/* .cart{
    display: none;
} */

.cart_close{
    position: absolute;
    top: 0.9rem;
    right: 1.25rem;
    cursor: pointer;
}

.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 4em 0;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    z-index: 100;
    background-color: var(--L-background);

    margin-right: 0;
}

.show-cart{
    right: 0;
}

.cart_tittle{
    font-size: 2em;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: bold;
}

.cart_container{
    display: grid;
    row-gap: 1.5em;
    max-height: 50%;
    min-height: 800px;
    height: 100%;
    overflow: auto;
}

.cart_empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete{
    display: none;
}

.cart_empty img{
    min-width: 800px;
    height: auto;
} 

.cart_empty h2{
    font-size: 2em;
}

.cart_empty p{
    font-size: 1.5em;
}

.cart__card{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    
}

.card-uno{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.conteiner{
    display: flex;
    flex-direction: row;
}

.cart__box{
    background-color: var(--L-menu);
    width: 65px;
    padding: 0.25rem 0.5rem;
    border: 1px solid hsl(0, 0%, 94%);
}

.cart__img{
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.cart__title{
    font-size: .938rem;
    margin-bottom: 0.5rem;
}

.cart__stock{
    display: block;
    font-size: .75rem;
    color: gray;
    margin-bottom: .5rem;
}

.cart__price{
    font-size: .75rem;
    color: var(--L-primary);
    margin-bottom: .5rem;
}

.cart__subtotal{
    display: block;
    color: var(--L-primary);
    margin-bottom: .5rem;
}

.cart__amount{
    column-gap: 3rem;
}

.cart__amount, .cart__amount-content{
    display: flex;
    align-items: center;
}

.sum{
    display: inline-flex;
    padding: 0.25rem;
    background-color: var(--L-menu);
    border: 1px solid hsl(0, 0%, 94%);
    cursor: pointer;
}

.rest{
    display: inline-flex;
    padding: 0.25rem;
    background-color: var(--L-menu);
    border: 1px solid hsl(0, 0%, 94%);
    cursor: pointer;
}

.sum img{
    width: 25px;
}

.rest img{
    width: 25px;
}

.del{
    font-size: 1.15rem;
    color: hsl(354, 78%, 60%);
    width: 20px;
    cursor: pointer;
}

.cart_prices{
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: space-between;
}

.cart_prices-item{
    font-size: 2em;
}

.cart_prices-total{
    font-size: 2em;
}

.color{
    color: var(--L-primary);
}

.menu_desptok{
    display: none;
}

.show__menu{
    margin-left: 0;
}

.icon_burger-show{
    display: block;
}

.icon_cerrar-show{
    margin-top: 0;
}

.icon_cerrar{
    position: absolute;
    top: 0.9rem;
    right: 1.25rem;
    cursor: pointer;
}

.content_img{
 margin-left: auto;
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;
 column-gap: 1rem;   
}

.content_img img:nth-child(1){
    width: 20px;
    height: 20px;
}

.content_img img:nth-child(2){
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.content_img .count{
    position: absolute;
    bottom: 0px;
    right: 38px;
    width: 16px;
    height: 16px;
    padding: 0.25em;
    margin-bottom: 2em;
    background-color: var(--L-black);
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--L-menu);
}

.content_img svg{
    width: 20px;
    height: 20px;
}

.icon_burger svg{
    margin-bottom: -.3em;
}

.Content_Principal{
    display: flex;
    flex-direction:column;
    min-width: 800px;
    max-width: 1200px;
    margin: auto;
}

.Content_home{
    background-color: var(--L-primary);
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
    margin-top: -2em;    
}

.Content_home img{
    width: 350px;
    height: 350px;
}

.Content_datos{
   margin-top: 5em;
   padding: 0 1em;
}

.Content_datos h1{
    font-size: 3em;
}

.Content_datos p{
    font-size: 1.95em;
    margin-top: 0.5em;
}

.Content_datos h3{
    font-size: 1.8em;
    margin-top: 1.5em;
    color: var(--L-primary);
}

.Content_btn{
    margin-top: 2em;
    display: flex;
}

.Content_btn a{
    text-decoration: none;
    color: black;
    margin-top: 2em;
}

.Content_btn p{
   background-color: gray;
   font-size: 1.5em;
   width: 140px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.Content_btn button{
    width: 200px;
    height: 85px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: var(--L-black);
    color: var(--L-menu);
    margin-top: 1.6em;
}

.Products{
  padding: 7em 0;  
}

.Content_container{
    max-width: 1200px;
    /* margin-left: 1em;
    margin-right: 1em; */
    margin: auto;
}

.Content_filtros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 3.5em;
}

.Products_item{
    cursor: pointer;
} 

.Products_line{
    position: relative;
}

.Products_line h2{
    position: absolute;
    width: 1px;
    height: 40px;
    background-color: gray;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.Products_Title{
    font-size: 1.8em;
    color: gray;
    margin-bottom: 0.5em;
}

.Products_Stock{
    font-size: 1.2em;
}

.Products_content{
    grid-template-columns: 200px;
    gap: 2em;
    justify-content: center;
}

.grid{
    display: grid;
}

.Products_card{
    background-color: var(--L-clothes-Background);
    border-radius: 0.5em;
}

.Products_img{
    background-color: var(--L-clothes-Background);
    border-radius: 0.5em 0.5em 0 0;
    text-align: center;
    padding: 0.25em 0;
}

.Products_img1{
    width: 250px;
    transition: .4s;
}

img{
    max-width: 100%;
    height: auto;
}

.Products_data{
    padding: 1em 0 1.25em 1em;
    position: relative;
}

.Products_price{
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    gap: 0.25em;
}

h2, h3{
    color: var(--L-black);
    font-weight: 500;
}

.Products_cant{
    font-size: 1em;
    color: var(--L-black);
}

.Products_btn{
    border-radius: 100%;
    padding: 2rem;
    font-size: 1.5em;
    position: absolute;
    right: 0.6em;
    top: -1.25em;
    background-color: darkgrey;
}

.button{
    cursor: pointer;
    border: none;
    /* outline: none; */
}

.footer{
    background-color: var(--L-background);
}

.section{
    padding: 6.5rem 0 1rem;
}

.footer{
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
    padding: 1em 1em;
}

.footer_content{
    row-gap: 2rem;
    border-bottom: 1px solid hsl(0, 0%, 94%);
    padding-bottom: 3rem;
}

.grid{
    display: grid;
}

.content{
    max-width: 1200px;
    margin: auto;
    /* margin-left: 1.5rem;
    margin-right: 1.5rem; */
}

.footer_title{
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

h3{
    color: var(--L-black);
    font-weight: 1000;
}

.footer_list, .footer_links{
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.footer_list li{
    color: hsl(0, 0%, 35%);
}

.footer_link{
    color: hsl(0, 0%, 35%);
}

a{
    text-decoration: none;
}

.footer_social{
    display: flex;
    column-gap: 2rem;
}

.footer_copyright{
    display: block;
    margin: 3rem 0 1rem 0;
    text-align: center;
    font-size: .75rem;
    color: hsl(0, 0%, 55%);
}



@media (min-width: 800px){
    .icon_burger{
        cursor: pointer;
        display: none;
        padding: 1em 4em;
    }

    .show__menu{
        display: none;
    } 

    .cart{
        position: fixed;
        top: 0;
        width: 420px; 
        height: 100%;
        background-color: var(--L-background);
        z-index: 100;
        padding: 3.5rem 2rem;
        transition: .4s;
    }

    .show-cart{
        right: 0;
    }

    .cart_empty img{
        min-width: 100%;
        height: auto;
    }

    .menu_desptok{
        list-style: none;
        display: flex;
        text-align: center;
        column-gap: 3em;
        width: 100%;
        margin-left: 5em;    
    }

    .content_img .count{
        position: absolute;
        bottom: 0px;
        right: 2px;
        width: 16px;
        height: 16px;
        padding: 0.25em;
        margin-bottom: 2em;
        background-color: var(--L-black);
        border-radius: 50%;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--L-menu);
    }

    nav{
        max-width: 1200px;
        margin: auto;
        right: 0;
        left: 0;
    } 

   .color1{
    color: var(--L-black);
   } 

   .Content_Principal{
    display: flex;
    flex-direction: row-reverse;
   }

   .Content_datos{
    margin-top: 10em;
   }

   .Content_datos h1{
    font-size: 3em;
    }

    .Content_datos p{
    font-size: 1.4em;
    margin-top: 0.5em;
    }

    .Content_datos h3{
    font-size: 2em;
    margin-top: 1em;
    color: var(--L-primary);
    }  

    .Content_home{
        background-color: var(--L-primary);
        width: 550px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        align-self: flex-end;
        margin-top: -2em;    
    }

    .Content_filtros{
        grid-template-columns: repeat(4, 1fr);
        margin: 4em 0 5 .5em;
    }

    .Products_content{
        grid-template-columns: repeat(3, 1fr);
        justify-content: initial;
        column-gap: 5em;
    }

    .footer_content{
        grid-template-columns: repeat(4, max-content);
        justify-content: space-between;
    }
}
